<div class="div-body text-center">
  <form class="form-signin" (submit)="consultarCEP()">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Consultar CEP</h1>
    <label for="inputEmail" class="sr-only">CEP</label>
    <input type="text" id="inputEmail" name="currentCEP" class="form-control" placeholder="CEP" required="" autofocus="" [(ngModel)]="currentCEP">
    <button class="btn btn-lg btn-primary btn-block spaced-button" type="submit">Consultar</button>
  </form>
</div>

<div *ngIf="this.returnedCep" class="container result-div div-body text-center">
  <table class="table" id="cep-table">
    <tbody>
      <tr>
        <td scope="row">CEP: </td>
        <td>{{ returnedCep?.cep }}</td>
      </tr>
      <tr>
        <td scope="row">Logradouro: </td>
        <td>{{ returnedCep?.logradouro }}</td>
      </tr>
      <tr>
        <td scope="row">Complemento: </td>
        <td>{{ returnedCep?.complemento }}</td>
      </tr>
      <tr>
        <td scope="row">Bairro: </td>
        <td>{{ returnedCep?.bairro }}</td>
      </tr>
      <tr>
        <td scope="row">Localidade: </td>
        <td>{{ returnedCep?.localidade }}</td>
      </tr>
      <tr>
        <td scope="row">UF: </td>
        <td>{{ returnedCep?.uf }}</td>
      </tr>
      <tr>
        <td scope="row">Unidade: </td>
        <td>{{ returnedCep?.unidade }}</td>
      </tr>
      <tr>
        <td scope="row">IBGE: </td>
        <td>{{ returnedCep?.ibge }}</td>
      </tr>
      <tr>
        <td scope="row">GIA: </td>
        <td>{{ returnedCep?.gia }}</td>
      </tr>

    </tbody>
  </table>
</div>
