<div class="container-fluid">
  <!-- Primeira linha de cartões dos perfis -->
  <div class="row contact-row text-center">
    <!-- 
      TODO: Fazer o bind das informações de cada usuário
            em cada componente de card para ver que é possível
            reutilizar componentes para exibir diferentes informações
     -->

    <!-- Primeiro contato -->
    <div class="col-xs-12 col-md-6 col-lg-4">
      <app-user-profile-card></app-user-profile-card>
    </div>

    <!-- Segundo contato -->
    <div class="col-xs-12 col-md-6 col-lg-4">
      <app-user-profile-card></app-user-profile-card>
    </div>

    <!-- Terceiro contato -->
    <div class="col-xs-12 col-md-6 col-lg-4">
      <app-user-profile-card></app-user-profile-card>
    </div>
  </div>
</div>
