<div class="text-center body">
  <form class="form-signin" (submit)="testDummyService($event)">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Faça Login</h1>
    <label for="inputEmail" class="sr-only">Endereço de e-mail</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Endereço de e-mail" required="" autofocus="" [(ngModel)]="email">
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Senha" required="" [(ngModel)]="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembre-me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <!-- <p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
  </form>
</div>
