<div class="container home-container">
  <div class="jumbotron">
    <h1 class="display-4">Bindings Avançados!</h1>
    <p class="lead">Vamos aprender a fazer propriedades de entrada (Input) e saída (Output) personalizados em nossos componentes para melhorar
      a reutilização de componentes.</p>
    <hr class="my-4">
    <p>Selecione um dos tópicos abaixo para ver o comportamento das páginas.</p>
    <p class="lead">
      <a routerLink="/input" class="btn btn-primary btn-lg" href="#" role="button">Visualizar ENTRADA
        <br>
        <strong>(Input)</strong>
      </a>
      <a routerLink="/output" class="btn btn-primary btn-lg" role="button">Visualizar SAÍDA
        <br>
        <strong>(Output)</strong>
      </a>
    </p>
  </div>
</div>
